* {
  margin : 0;
  padding: 0
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.buttonBase {
  color           : inherit;
  border          : 0;
  cursor          : pointer;
  margin          : 0;
  display         : inline-flex;
  outline         : 0;
  padding         : 0;
  position        : relative;
  align-items     : center;
  user-select     : none;
  border-radius   : 0;
  vertical-align  : middle;
  -moz-appearance : none;
  justify-content : center;
  text-decoration : none;
  background-color: transparent;
}

.button-root {
  color         : rgba(0, 0, 0, 0.87);
  padding       : 6px 16px;
  font-size     : 0.875rem;
  min-width     : 64px;
  box-sizing    : border-box;
  transition    : background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family   : "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight   : 500;
  line-height   : 1.75;
  border-radius : 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}

.button-root:hover {
  text-decoration : none;
  background-color: rgba(0, 0, 0, 0.04);
}

.button-contained {
  color           : rgba(0, 0, 0, 0.87);
  box-shadow      : 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  background-color: #e0e0e0;
}

.button-contained:hover {
  box-shadow      : 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  background-color: #d5d5d5;
}

.button-containedPrimary {
  color           : #fff;
  background-color: #1976d2;
}

.button-containedPrimary:hover {
  background-color: rgb(17, 82, 147);
}

.button-containedSecondary {
  color           : #fff;
  background-color: rgb(220, 0, 78);
}

.button-containedSecondary:hover {
  background-color: rgb(154, 0, 54);
}

.disabled {
  color     : rgba(0, 0, 0, 0.26);
  box-shadow: none;
  cursor    : default;
}

.button-contained.disabled {
  color           : rgba(0, 0, 0, 0.26);
  box-shadow      : none;
  background-color: rgba(0, 0, 0, 0.12);
}

.button-textPrimary {
  color: #1976d2;
}

.button-textSecondary {
  color: rgb(220, 0, 78);
}

.button-text {
  padding: 6px 8px;
}

.button-outlined {
  border : 1px solid rgba(0, 0, 0, 0.23);
  padding: 5px 15px;
}

.button-outlinedPrimary {
  color : #1976d2;
  border: 1px solid rgba(25, 118, 210, 0.5);
}

.button-outlinedSecondary {
  color : rgb(220, 0, 78);
  border: 1px solid rgba(220, 0, 78, 0.5);
}

.button-outlinedSizeSmall {
  padding  : 3px 9px;
  font-size: 0.8125rem;
}

.button-outlinedSizeLarge {
  padding  : 7px 21px;
  font-size: 0.9375rem;
}

.button-containedSizeLarge {
  padding  : 8px 22px;
  font-size: 0.9375rem;
}

.button-containedSizeSmall {
  padding  : 4px 10px;
  font-size: 0.8125rem;
}

.button-textSizeLarge {
  padding  : 8px 11px;
  font-size: 0.9375rem;
}

.button-textSizeSmall {
  padding  : 4px 5px;
  font-size: 0.8125rem;
}